# Corruption analysis
Today is possible for us to readily and constantly check information online, over the years more and more people got access to mobile devices and this medium became the main for information exchange and gathering. We can imagine how this can influency society, but we're not going to study how people are interacting or being influenced, we're going to analyze the relations between the Internet users...

## About the data

We're going to use three datasets:
- Corruption Perception Index (CPI)
- Number Of Internet Users (# people with internet access)
- Number Of Journalists Killed

### Corruption Perception Index (CPI)
[Transparency International, CPI 2018](https://www.transparency.org/cpi2018)

More about the index (YouTube Video):

[![CPI 2018](https://i.ytimg.com/vi/OXApeTYRYNQ/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLCNIW09Vs8woiyo5Y824JeMQarslQ)](https://www.youtube.com/watch?v=OXApeTYRYNQ)

**TODO**
- [ ] Intro description
- [ ] Dataset data explanation
  - [ ] Change CPI video thumbnail

In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
import operator
from functools import reduce


%matplotlib inline

df_internet = pd.read_csv('data/internet_users.csv')
df_killings = pd.read_csv('data/num_of_journalists_killed.csv')
df_cpi = pd.read_csv('data/corruption_perception_index_cpi.csv')

In [41]:
df_internet.head()

,country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.84,3.55,4.0,5.0,5.45,5.9,7.0,8.26,10.6,NaN
1,Albania,NaN,NaN,NaN,NaN,NaN,0.01120,0.03220,0.04860,0.0650,...,23.90,41.20,45.0,49.0,54.70,57.2,60.1,63.30,66.4,NaN
2,Algeria,NaN,NaN,NaN,NaN,0.00036,0.00177,0.00174,0.01030,0.0202,...,10.20,11.20,12.5,14.9,18.20,22.5,29.5,38.20,42.9,NaN
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,1.53000,3.05000,6.8900,...,70.00,78.50,81.0,81.0,86.40,94.0,95.9,96.90,97.9,NaN
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,0.00078,0.00567,0.0185,...,1.90,2.30,2.8,3.1,6.50,8.9,10.2,12.40,13.0,NaN

In [42]:
df_killings.head()

,country,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Afghanistan,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,...,2.0,2.0,2.0,NaN,NaN,3.0,NaN,4.0,4.0,13.0
1,Algeria,1.0,8.0,18.0,24.0,7.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,1.0,3.0,1.0,1.0,1.0,NaN,1.0,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Argentina,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Azerbaijan,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
df_cpi.head()

       country  2012  2013  2014  2015  2016  2017
0  Afghanistan   8.0   8.0  12.0  11.0  15.0    15
1      Albania  33.0  31.0  33.0  36.0  39.0    38
2      Algeria  34.0  36.0  36.0  36.0  34.0    33
3       Angola  22.0  23.0  19.0  15.0  18.0    19
4    Argentina  35.0  34.0  34.0  32.0  36.0    39

In [44]:
print(
    df_internet.info(),
    df_killings.info(),
    df_cpi.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 29 columns):
country    193 non-null object
1990       19 non-null float64
1991       30 non-null float64
1992       42 non-null float64
1993       54 non-null float64
1994       74 non-null float64
1995       118 non-null float64
1996       155 non-null float64
1997       168 non-null float64
1998       175 non-null float64
1999       181 non-null float64
2000       183 non-null float64
2001       185 non-null float64
2002       185 non-null float64
2003       180 non-null float64
2004       183 non-null float64
2005       184 non-null float64
2006       183 non-null float64
2007       190 non-null float64
2008       189 non-null float64
2009       188 non-null float64
2010       188 non-null float64
2011       191 non-null float64
2012       188 non-null float64
2013       190 non-null float64
2014       190 non-null float64
2015       190 non-null float64
2016       190 non-null float64
2017       71 non-null float64
dtypes: float64(28), object(1)
memory usage: 43.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 28 columns):
country    100 non-null object
1992       16 non-null float64
1993       19 non-null float64
1994       20 non-null float64
1995       16 non-null float64
1996       14 non-null float64
1997       13 non-null float64
1998       17 non-null float64
1999       10 non-null float64
2000       16 non-null float64
2001       20 non-null float64
2002       10 non-null float64
2003       16 non-null float64
2004       19 non-null float64
2005       18 non-null float64
2006       16 non-null float64
2007       20 non-null float64
2008       14 non-null float64
2009       22 non-null float64
2010       21 non-null float64
2011       23 non-null float64
2012       20 non-null float64
2013       13 non-null float64
2014       20 non-null float64
2015       21 non-null float64
2016       15 non-null float64
2017       17 non-null float64
2018       15 non-null float64
dtypes: float64(27), object(1)
memory usage: 22.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 7 columns):
country    177 non-null object
2012       172 non-null float64
2013       173 non-null float64
2014       171 non-null float64
2015       165 non-null float64
2016       173 non-null float64
2017       177 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 9.8+ KB
None None None

In [45]:
dfs = [df_internet, df_killings, df_cpi]
years = []

In [46]:
def year_counter(dic,dim,start):
    s=start
    for i in range(0, dim):
        y=s+i
        dic.append(str(y))

def find_equal_columns(data):
    return

In [47]:
year_counter(years,5,2013)
print('Range of Years selected: ', years)

for d in dfs:
    print(d[years].count())

Range of Years selected:  ['2013', '2014', '2015', '2016', '2017']
2013    190
2014    190
2015    190
2016    190
2017     71
dtype: int64
2013    13
2014    20
2015    21
2016    15
2017    17
dtype: int64
2013    173
2014    171
2015    165
2016    173
2017    177
dtype: int64

In [48]:
dic={}

for i in range(len(dfs)):
    dic[i] = len(dfs[i].columns)
print(dic)

{0: 29, 1: 28, 2: 7}

In [49]:
dic_sort = sorted(dic.items(), key=operator.itemgetter(1))

In [57]:
df_merge1 = dfs[2].merge(dfs[0], on='country', how='left')

df_merge1

,country,2012_x,2013_x,2014_x,2015_x,2016_x,2017_x,1990,1991,1992,...,2008,2009,2010,2011,2012_y,2013_y,2014_y,2015_y,2016_y,2017_y
0,Afghanistan,8.0,8.0,12.0,11.0,15.0,15,NaN,NaN,NaN,...,1.84,3.55,4.00,5.00,5.45,5.90,7.00,8.26,10.60,NaN
1,Albania,33.0,31.0,33.0,36.0,39.0,38,NaN,NaN,NaN,...,23.90,41.20,45.00,49.00,54.70,57.20,60.10,63.30,66.40,NaN
2,Algeria,34.0,36.0,36.0,36.0,34.0,33,NaN,NaN,NaN,...,10.20,11.20,12.50,14.90,18.20,22.50,29.50,38.20,42.90,NaN
3,Angola,22.0,23.0,19.0,15.0,18.0,19,NaN,NaN,NaN,...,1.90,2.30,2.80,3.10,6.50,8.90,10.20,12.40,13.00,NaN
4,Argentina,35.0,34.0,34.0,32.0,36.0,39,NaN,NaN,0.00299,...,28.10,34.00,45.00,51.00,55.80,59.90,64.70,68.00,71.00,NaN
5,Armenia,34.0,36.0,37.0,35.0,33.0,35,NaN,NaN,NaN,...,6.21,15.30,25.00,32.00,37.50,41.90,54.60,59.10,64.30,NaN
6,Australia,85.0,81.0,80.0,79.0,79.0,77,0.58500,1.10000,1.77000,...,71.70,74.30,76.00,79.50,79.00,83.50,84.00,84.60,88.20,86.5
7,Austria,69.0,69.0,72.0,76.0,75.0,75,0.13000,0.25900,0.64300,...,72.90,73.50,75.20,78.70,80.00,80.60,81.00,83.90,84.30,87.9
8,Azerbaijan,27.0,28.0,29.0,29.0,30.0,31,NaN,NaN,NaN,...,17.10,27.40,46.00,50.00,54.20,73.00,75.00,77.00,78.20,79.0
9,Bahamas,71.0,71.0,71.0,NaN,66.0,65,NaN,NaN,NaN,...,31.50,33.90,43.00,65.00,71.70,72.00,76.90,78.00,80.00,NaN
10,Bahrain,51.0,48.0,49.0,51.0,43.0,36,NaN,NaN,NaN,...,52.00,53.00,55.00,77.00,88.00,90.00,90.50,93.50,98.00,95.9
11,Bangladesh,26.0,27.0,25.0,25.0,26.0,28,NaN,NaN,NaN,...,2.50,3.10,3.70,4.50,5.00,6.63,13.90,14.40,18.20,NaN
12,Barbados,76.0,75.0,74.0,NaN,61.0,68,NaN,NaN,NaN,...,61.40,64.70,65.10,66.50,71.20,71.80,75.20,76.10,79.50,NaN
13,Belarus,31.0,29.0,31.0,32.0,40.0,44,NaN,NaN,NaN,...,23.00,27.40,31.80,39.60,46.90,54.20,59.00,67.30,71.10,74.4
14,Belgium,75.0,75.0,76.0,77.0,77.0,75,0.00101,0.02010,0.10000,...,66.00,70.00,75.00,81.60,80.70,82.20,85.00,85.10,86.50,87.7
15,Benin,36.0,36.0,39.0,37.0,36.0,39,NaN,NaN,NaN,...,1.85,2.24,3.13,4.15,4.50,4.90,6.00,11.30,12.00,NaN
16,Bhutan,63.0,63.0,65.0,65.0,65.0,67,NaN,NaN,NaN,...,6.55,7.17,13.60,14.40,15.60,22.40,30.30,39.80,41.80,NaN
17,Bolivia,34.0,34.0,35.0,34.0,33.0,33,NaN,NaN,NaN,...,12.50,16.80,22.40,30.00,35.30,37.00,34.60,35.60,39.70,NaN
18,Bosnia and Herzegovina,42.0,42.0,39.0,38.0,39.0,38,NaN,NaN,NaN,...,34.70,37.70,42.80,43.90,45.10,48.50,49.90,52.60,60.30,69.5
19,Botswana,65.0,64.0,63.0,63.0,60.0,61,NaN,NaN,NaN,...,6.25,6.15,6.00,9.00,16.00,30.00,36.70,37.30,39.40,NaN
20,Brazil,43.0,42.0,43.0,38.0,40.0,37,NaN,0.00329,0.01290,...,33.80,39.20,40.60,45.70,48.60,51.00,54.60,58.30,60.90,NaN
21,Brunei,55.0,60.0,NaN,NaN,58.0,62,NaN,NaN,NaN,...,46.00,49.00,53.00,56.00,60.30,64.50,68.80,71.20,90.00,NaN
22,Bulgaria,41.0,41.0,43.0,41.0,41.0,43,NaN,NaN,NaN,...,39.70,45.00,46.20,48.00,51.90,53.10,55.50,56.70,59.80,63.4
23,Burkina Faso,38.0,38.0,38.0,38.0,42.0,42,NaN,NaN,NaN,...,0.92,1.13,2.40,3.00,3.73,9.10,9.40,11.40,14.00,NaN
24,Burundi,19.0,21.0,20.0,21.0,20.0,22,NaN,NaN,NaN,...,0.81,0.90,1.00,1.11,1.22,1.26,1.38,4.87,5.17,NaN
25,Cambodia,22.0,20.0,21.0,21.0,21.0,21,NaN,NaN,NaN,...,0.51,0.53,1.26,3.10,4.94,6.80,14.00,22.30,32.40,34.0
26,Cameroon,26.0,25.0,27.0,27.0,26.0,25,NaN,NaN,NaN,...,3.40,3.84,4.30,5.00,7.50,10.00,16.20,20.70,25.00,23.2
27,Canada,84.0,81.0,81.0,83.0,82.0,82,0.36100,0.57000,0.91600,...,76.70,80.30,80.30,83.00,83.00,85.80,87.10,88.50,91.20,NaN
28,Cape Verde,60.0,58.0,57.0,55.0,59.0,55,NaN,NaN,NaN,...,14.00,21.00,30.00,32.00,34.70,37.50,40.30,42.70,50.30,57.2
29,Central African Republic,26.0,25.0,24.0,24.0,20.0,23,NaN,NaN,NaN,...,1.00,1.80,2.00,2.20,3.00,3.40,3.60,3.80,4.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,St. Lucia,71.0,71.0,71.0,NaN,60.0,55,NaN,NaN,NaN,...,30.00,31.00,32.50,34.00,34.80,36.00,39.70,42.50,46.70,NaN
148,St. Vincent and the Grenadines,62.0,62.0,62.0,NaN,60.0,58,NaN,NaN,NaN,...,21.00,31.00,33.70,36.70,40.00,43.50,47.40,51.80,55.60,65.6
149,Sudan,13.0,11.0,11.0,12.0,14.0,16,NaN,NaN,NaN,...,NaN,NaN,16.70,17.50,21.00,22.70,24.60,26.60,28.00,NaN
150,Suriname,37.0,36.0,36.0,36.0,45.0,41,NaN,NaN,NaN,...,21.10,31.40,31.60,32.00,34.70,37.40,40.10,42.80,45.40,NaN
151,Swaziland,37.0,39.0,43.0,NaN,NaN,39,NaN,NaN,NaN,...,6.85,8.94,11.00,18.10,20.80,24.70,26.20,25.60,28.60,NaN
152,Sweden,88.0,89.0,87.0,89.0,88.0,84,0.58400,1.16000,1.50000,...,90.00,91.00,90.00,92.80,93.20,94.80,92.50,90.60,89.70,96.4
153,Switzerland,86.0,85.0,86.0,86.0,86.0,85,0.59600,1.18000,1.75000,...,79.20,81.30,83.90,85.20,85.20,86.30,87.40,87.50,89.10,93.7
154,Syria,26.0,17.0,20.0,18.0,13.0,14,NaN,NaN,NaN,...,14.00,17.30,20.70,22.50,24.30,26.20,28.10,30.00,31.90,NaN
155,Tajikistan,22.0,22.0,23.0,26.0,25.0,21,NaN,NaN,NaN,...,8.78,10.10,11.60,13.00,14.50,16.00,17.50,19.00,20.50,NaN
156,Tanzania,35.0,33.0,31.0,30.0,32.0,36,NaN,NaN,NaN,...,1.90,2.40,2.90,3.20,3.95,4.40,7.00,10.00,13.00,NaN
157,Thailand,37.0,35.0,38.0,38.0,35.0,37,NaN,0.00005,0.00034,...,18.20,20.10,22.40,23.70,26.50,28.90,34.90,39.30,47.50,52.9
158,Timor-Leste,33.0,30.0,28.0,28.0,35.0,38,NaN,NaN,NaN,...,1.50,2.00,3.00,4.00,7.00,11.00,17.50,23.00,25.20,NaN
159,Togo,30.0,29.0,29.0,32.0,32.0,32,NaN,NaN,NaN,...,2.40,2.60,3.00,3.50,4.00,4.50,5.70,7.12,11.30,12.4
160,Trinidad and Tobago,39.0,38.0,38.0,39.0,35.0,41,NaN,NaN,NaN,...,34.80,44.30,48.50,55.20,59.50,63.80,65.10,69.20,73.30,NaN
161,Tunisia,41.0,41.0,40.0,38.0,41.0,42,NaN,NaN,NaN,...,27.50,34.10,36.80,39.10,41.40,43.80,46.20,46.50,49.60,55.5
162,Turkey,49.0,50.0,45.0,42.0,41.0,40,NaN,NaN,NaN,...,34.40,36.40,39.80,43.10,45.10,46.30,51.00,53.70,58.30,64.7
163,Turkmenistan,17.0,17.0,17.0,18.0,22.0,19,NaN,NaN,NaN,...,1.75,1.95,3.00,5.00,7.20,9.60,12.20,15.00,18.00,NaN
164,Uganda,29.0,26.0,26.0,25.0,25.0,26,NaN,NaN,NaN,...,7.90,9.78,12.50,13.00,14.10,15.50,16.90,17.80,21.90,NaN
165,Ukraine,26.0,25.0,26.0,27.0,29.0,30,NaN,NaN,NaN,...,11.00,17.90,23.30,28.70,35.30,41.00,46.20,48.90,53.00,NaN
166,United Arab Emirates,68.0,69.0,70.0,70.0,66.0,71,NaN,NaN,NaN,...,63.00,64.00,68.00,78.00,85.00,88.00,90.40,90.50,90.60,94.8
167,United Kingdom,74.0,76.0,78.0,81.0,81.0,82,0.08740,0.17400,0.26100,...,78.40,83.60,85.00,85.40,87.50,89.80,91.60,92.00,94.80,NaN
168,United States,73.0,73.0,74.0,76.0,74.0,75,0.78500,1.16000,1.72000,...,74.00,71.00,71.70,69.70,74.70,71.40,73.00,74.60,76.20,NaN
169,Uruguay,72.0,73.0,73.0,74.0,71.0,70,NaN,NaN,NaN,...,39.30,41.80,46.40,51.40,54.50,57.70,61.50,64.60,66.40,NaN
170,Uzbekistan,17.0,17.0,18.0,19.0,21.0,22,NaN,NaN,NaN,...,9.08,11.90,15.90,18.60,23.60,26.80,35.50,42.80,46.80,NaN
171,Vanuatu,NaN,NaN,NaN,NaN,NaN,43,NaN,NaN,NaN,...,7.27,7.50,8.00,9.20,10.60,11.30,18.80,22.40,24.00,NaN
172,Venezuela,19.0,20.0,19.0,17.0,17.0,18,NaN,NaN,0.01210,...,25.90,32.70,37.40,40.20,49.10,54.90,57.00,61.90,60.00,NaN
173,Vietnam,31.0,31.0,31.0,31.0,33.0,35,NaN,NaN,NaN,...,23.90,26.60,30.60,35.10,36.80,38.50,41.00,43.50,46.50,NaN
174,Yemen,23.0,18.0,19.0,18.0,14.0,16,NaN,NaN,NaN,...,6.89,9.96,12.30,14.90,17.40,20.00,22.60,24.10,24.60,NaN
175,Zambia,37.0,38.0,38.0,38.0,38.0,37,NaN,NaN,NaN,...,5.55,6.31,10.00,11.50,13.50,15.40,19.00,21.00,25.50,NaN
176,Zimbabwe,20.0,21.0,21.0,21.0,22.0,22,NaN,NaN,NaN,...,3.50,4.00,6.40,8.40,12.00,15.50,16.40,22.70,23.10,NaN

In [52]:
# Limit datasets data to the years 2012 to 2017
# The data contained in the df_cpi are limited between those years